@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import "reset.css";
@import "variables.css";

/* Compoenents */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/screen-padding.css";
@import "components/no-mobile.css";

/* Screen */
@import "screen/login.css";
@import "screen/home.css";
@import "screen/create.css";
@import "screen/search.css";
@import "screen/account.css";
@import "screen/code.css";


body{
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    background-color: var(--screen-black);
}
.main-screen{
    padding: 0px var(--horizontal-space);
    padding-bottom: 90px;
    box-sizing: border-box;
}
.title-text{
    font-size: 12px;
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}
