.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 35px;
    background-color:var(--screen-black);
    border-top: 1px solid var(--light-gray-border);
}
.nav__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}
.nav__link i{
    margin-bottom: 5px;
    font-size: 18px;
}
.nav__link span{
    font-size: 12px;
}

.nav__link--home,
.nav__link--create,
.nav__link--search,
.nav__link--account{
    color: white;
}




@keyframes showBtnAnimation{
    from{
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
/* .nav__btn{
    animation: showBtnAnimation 0.6s ease-in-out forwards;
    transform: translateY(40px);
    opacity: 0;
    font-size: 16px;
} */


