.screen-header {
    padding: 15px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--screen-black-header);
    border-bottom: 1px solid var(--light-gray-border);
    z-index: 10;
}
.screen-header__title{
    color:white;
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
}
.screen-header__icons{
    position: relative;
}
.screen-header__icons i{
    color:white;
    margin-left: 10px;
    font-size: 20px;
}
@keyframes rotateCog{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}
.screen-header__icons .fa-gear:hover{
    animation: rotateCog 1.5s linear infinite;
}